h1{
    font-size: 60px;
    color:rgb(24, 21, 21);
    margin: 0;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
    color: grey;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
.orange{
    color: orange;
}
section{
    display: flex;
}
.width{
    width: 50%;
    padding: 6%;
}
.width img{
    width: 100%;
}
#margin{
    margin-top: 150px;
    margin-left: 60px;
}
a{
    text-decoration: none;
    padding:20px 50px;
    background-image:linear-gradient(rgb(240, 121, 42),rgb(226, 66, 66));
    color: white;
    border-radius: 35px;
    font-weight: 700px;
}
#size{
    width:400px;
    margin-left:90px;
}
#margin1{
    margin-left: 150px;
}
.bg-imag{
    background-image: url(images/9.jpg);
    background-position: cover;
    margin-bottom: 40px;
    
}
.bg-img1{
    background-image: url(images/7.png);
    background-repeat:no-repeat;
    margin: 0;
}
.recipies{
    text-align: center;
    margin-left:300px ;
    margin-right:300px ;
}
.youtube{
    display: flex;
    box-shadow: 10px 5px 40px gray;
    border: blanchedalmond;
    padding: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20px;
    margin-bottom: 70px;
}
.black{
    background-color:rgb(31, 28, 28);
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
}
.card-box{
    box-shadow: 10px 5px 40px gray;
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
}
.card-box img{
    border-radius: 20px;
}
.menu{
    box-shadow: 10px 5px 40px gray;
    font-weight: 400px;
    margin-right: 900px;
    margin-left:100px ;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 20px;
}
